<div class="login-container">
    
    <div class="container" class="card1">
        <i class="fa-solid fa-user fa-3x"></i>
        <div class="container" class="card">
            <h2>Selecciona tu tipo de usuario</h2>
            <div class="user-types">
                <button class="user-button" (click)="navigateTo('docente')">Docente</button>
                <button class="user-button" (click)="navigateTo('coordinador')">Coordinador</button>
                <button class="user-button" (click)="navigateTo('subdirector')">Subdirector</button>
            </div>
        </div>
    </div>
</div>