.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Cambiado a flex-start para alinear a la izquierda */
    gap: 1.5rem;
  }
  
  .report-button {
    display: flex;
    align-items: center;
    padding: 1.5rem 3rem; /* Tamaño del botón aumentado */
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.2rem; /* Tamaño de fuente aumentado */
    font-weight: bold; /* Texto en negrita */
    cursor: pointer;
    width: 100%;
    max-width: 700px; /* Ancho máximo del botón */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #7a7a7a;
    }
  
    .icon-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      min-width: 50px;
      min-height: 50px;
      border-radius: 50%;
      background-color: #002fff;
      color: #ffffff;
      margin-right: 1.5rem;
      font-size: 1.5rem;
    }
  
    .button-text {
      text-align: left;
    }
  }
  