<div class="carreras">
    <div class="row">
      <button class="btn-sistemas">
        <i class="fa-solid fa-laptop-code icono"></i>
        <span>Ing. Sistemas Computacionales</span>
      </button>
      <button class="btn-administracion">
        <i class="fa-solid fa-user-tie icono"></i>
        <span>Ing. en Administración</span>
      </button>
      <button class="btn-gestion">
        <i class="fa-solid fa-people-roof icono"></i>
        <span>Ing. en Gestión Empresarial</span>
      </button>
      <button class="btn-ambiental">
        <i class="fa-solid fa-seedling icono"></i>
        <span>Ing. Ambiental</span>
      </button>
    </div>
    <div class="row">
      <button class="btn-electromecanica">
        <i class="fa-solid fa-gears icono"></i>
        <span>Ing. Electromecánica</span>
      </button>
      <button class="btn-logistica">
        <i class="fa-solid fa-truck-fast icono"></i>
        <span>Ing. en Logística</span>
      </button>
      <button class="btn-turismo">
        <i class="fa-solid fa-earth-americas icono"></i>
        <span>Ing. en Turismo</span>
      </button>
      <button class="btn-pesquerias">
        <i class="fa-solid fa-fish icono"></i>
        <span>Ing. en Pesquerías</span>
      </button>
    </div>
  </div>  
  